#!/usr/bin/env bash

set -xeuf -o pipefail

hostnamectl set-hostname reverse-proxy

SITES="certerminal guacamole"

for SITE in $SITES; do
  sed -i "s/___HOSTNAME___/${hostname}/g" /etc/nginx/sites-available/$SITE
  sed -i "s/___TARGET_IP___/${target_ip}/g" /etc/nginx/sites-available/$SITE
done

# Configuring Certerminal
ln -s /etc/nginx/sites-available/certerminal /etc/nginx/sites-enabled/proxy
systemctl start nginx

# Desktop config
DESKTOP_ENABLED="${desktop_enabled}"

if [[ "$DESKTOP_ENABLED" == "true" ]]; then
  GUACAMOLE_USERS_FILE="/etc/guacamole/user-mapping.xml"

  sed -i "s/___TARGET_IP___/${target_ip}/g" $GUACAMOLE_USERS_FILE
  sed -i "s/___TARGET_PORT___/${target_port}/g" $GUACAMOLE_USERS_FILE
  sed -i "s/___VNC_PASSWORD___/${vnc_password}/g" $GUACAMOLE_USERS_FILE

  systemctl start guacd
  systemctl start tomcat9

  # Guacamole nginx config
  rm /etc/nginx/sites-enabled/proxy
  ln -s /etc/nginx/sites-available/guacamole /etc/nginx/sites-enabled/proxy
  systemctl reload nginx
fi
